a {
  color: blue;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
    opacity: 0.8;
  }

  &:active {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    opacity: 0.6;
  }
}